:root {
	color: #222;
}

body {
	color: #222;
	font-family: sans-serif;
	line-height: 1.5;
	margin: 1rem;
	max-width: 768px;
}

.breadcrumb ol {
	padding-left: 0;
}

.breadcrumb li:not(:last-child)::after {
	content: "»";
}

.post-list li h2 a:hover {
	text-decoration: underline;
}
